.annonce-card{
    cursor: pointer;
    box-shadow: var(--medium-shadow);
    &:hover{
        box-shadow: var(--dark-shadow);
    }
    img{
        width: 128px;
    }
}

.status-1{
    background: green;
}