:root {
  --white: #ffffff;
  --light: #f0eff3;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #424a3c;
  --dark-green: #1a9b17;
  --light-green: #69df2a;
  --grey: #ecedf3;
  --medium-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media tv and (min-width: 401px) and (max-width: 800px), (orientation: landscape) and (min-width: 401px) and (max-width: 800px) {
  .mobile-media {
    display: none !important;
  }

  .tv-media {
    display: inherit;
  }

  #logo {
    width: 160px;
  }

  main {
    margin-top: 96px;
  }
}
@media tv and (min-width: 801px), (orientation: landscape) and (min-width: 801px) {
  .mobile-media {
    display: none !important;
  }

  .tv-media {
    display: inherit;
  }

  #logo {
    width: 160px;
  }

  main {
    margin-top: 96px;
  }
}
@media handheld and (min-width: 401px), (orientation: portrait) and (min-width: 401px) {
  .mobile-media {
    display: inherit;
  }

  .tv-media {
    display: none !important;
  }

  #logo,
#menu {
    height: 72px;
    font-size: 72px;
  }

  main {
    margin-top: 128px;
  }
}
@media (max-width: 400px) {
  .mobile-media {
    display: inherit;
  }

  .tv-media {
    display: none !important;
  }

  main {
    margin-top: 104px;
  }

  #logo,
#menu {
    height: 56px;
    font-size: 56px;
  }
}
.pos-fixed {
  position: fixed;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.width-mc {
  width: max-content;
}

.width-100pc {
  width: 100%;
}

.text-center {
  text-align: center;
}

.pg-0 {
  padding: 0;
}

.mn-0 {
  margin: 0;
}

.mn-lt--160px {
  margin-left: -160px;
}

.top-0 {
  top: 0;
}

.z-1 {
  z-index: 1;
}

.z-15 {
  z-index: 15;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid.auto-col-mc {
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.grid.col-mc-auto {
  grid-template-columns: max-content auto;
}

.al-it-center {
  align-items: center;
}

.just-it-center {
  justify-items: center;
}

.just-ct-sb {
  justify-content: space-between;
}

.just-sf-center {
  justify-self: center;
}

.grid.gap-4px {
  grid-gap: 4px;
}

.grid.gap-24px {
  grid-gap: 24px;
}

a.material-icons,
a.material-icons-outlined {
  text-decoration: none;
  color: black;
}

.header {
  padding: 4px 8px;
  background: #FFF;
}

input[name=search] {
  padding: 3px 8px;
}

button[type=submit] {
  cursor: pointer;
  padding: 4px 16px;
  background-image: linear-gradient(298deg, var(--dark-green), var(--light-green));
  box-shadow: var(--medium-shadow);
  color: #fff;
  border: 1px solid linear-gradient(298deg, var(--dark-green), var(--light-green));
  border-radius: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: default;
}

.categories {
  display: grid;
  grid-auto-columns: 128px;
  grid-auto-flow: column;
  background: #beefb3;
  list-style: none;
  justify-content: space-around;
}

.categories__li {
  text-transform: capitalize;
  height: 18px;
  padding: 8px 16px;
  width: 96px;
  background: #5cba47;
  text-align: center;
}
.categories__li:hover .sub-categories, .categories__li:focus-within .sub-categories {
  display: block;
}

.sub-categories__li {
  cursor: pointer;
  text-transform: none;
  line-height: 1.5;
  padding: 2px 8px;
}

.sub-categories {
  display: none;
  text-align: start;
  color: #000;
  background: #ffffff;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.sub-categories ul {
  width: max-content;
  padding: 4px 0 8px 0;
}
.sub-categories li:hover {
  color: #5cba47;
  text-decoration: underline;
}

.current-username {
  text-transform: capitalize;
}

.current-userpicture {
  cursor: pointer;
  width: 48px;
}

#hidden-menu {
  display: none;
  position: fixed;
  right: 8px;
  background: white;
  padding: 8px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  top: 48px;
}
#hidden-menu li {
  padding: 8px;
  border-bottom: 1px solid grey;
}
#hidden-menu li:last-of-type {
  border-bottom: none;
}
#hidden-menu a {
  text-decoration: none;
  color: black;
}

.current-usermenu:hover #hidden-menu,
.current-usermenu:focus-within #hidden-menu {
  display: block;
}

#add-annonce {
  position: fixed;
  cursor: pointer;
  bottom: 8px;
  left: calc(50% - 20px);
  text-align: center;
  background-image: linear-gradient(298deg, var(--dark-green), var(--light-green));
  height: 38px;
  border-radius: 50%;
  box-shadow: var(--medium-shadow);
  text-decoration: none;
  color: #fff;
  transition: left ease-in 0.2s, width ease-in 0.2s;
  -webkit-transition: left ease-in 0.2s, width ease-in 0.2s;
}
#add-annonce span {
  width: 38px;
  font-size: 36px;
  border-radius: 50%;
}

#add-annonce:hover {
  border-radius: 20px;
  left: calc(50% - 90px);
}
#add-annonce:hover::after {
  content: "Ajouter une annonce";
  padding-right: 16px;
}

form:not(#search):not(.without-label) {
  grid-template-columns: 124px auto;
}

form:not(#search) {
  display: grid;
  grid-gap: 24px;
  margin: 8px 32px;
}
form:not(#search) input[type=text],
form:not(#search) input[type=number],
form:not(#search) input[type=email],
form:not(#search) input[type=password] {
  height: 28px;
}
form:not(#search) input[type=text],
form:not(#search) input[type=number],
form:not(#search) input[type=email],
form:not(#search) input[type=password],
form:not(#search) select,
form:not(#search) textarea {
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: var(--medium-shadow);
}
form:not(#search) input[type=text],
form:not(#search) input[type=number],
form:not(#search) input[type=email],
form:not(#search) input[type=password],
form:not(#search) textarea {
  max-width: 456px;
  width: 100%;
}
form:not(#search) select {
  max-width: 464px;
  width: calc(100% + 8px);
}

input:disabled,
select:disabled,
textarea:disabled {
  border-color: rgba(118, 118, 118, 0.3) !important;
}

textarea {
  resize: none;
  height: 62px;
}

select {
  height: 32px;
}

input[type=number] + .unit {
  margin: 7px 0 0 -16px;
}
input[type=number]:disabled + .unit {
  color: grey;
}

#form-choice-category,
form h2 {
  grid-column: 1/3;
}

[type=radio].checkbox-tools {
  appearance: none;
  width: 1px;
  height: 100%;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 20px;
  width: 110px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--black);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.checkbox-tools:not(:checked) + label {
  background-color: white;
  box-shadow: var(--medium-shadow);
}

.checkbox-tools:checked + label {
  color: var(--white);
  background-color: transparent;
  box-shadow: var(--dark-shadow);
}

.checkbox-tools:not(:checked) + label:hover {
  box-shadow: var(--dark-shadow);
}

.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: linear-gradient(298deg, var(--dark-green), var(--light-green));
  z-index: -1;
}

.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil {
  font-size: 24px;
  line-height: 24px;
  display: block;
  padding-bottom: 10px;
  margin: auto;
}

.annonce-card {
  cursor: pointer;
  box-shadow: var(--medium-shadow);
}
.annonce-card:hover {
  box-shadow: var(--dark-shadow);
}
.annonce-card img {
  width: 128px;
}

.status-1 {
  background: green;
}

/*# sourceMappingURL=app.css.map */
