:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #424a3c;
	--dark-green: #1a9b17;
	--light-green: #69df2a;
	--grey: #ecedf3;
    --medium-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// RESPONSIVE CLASSES
@media tv and (min-width:401px) and (max-width: 800px),
(orientation: landscape) and (min-width:401px) and (max-width: 800px) {
    .mobile-media{
        display: none !important;
    }
    .tv-media{
        display: inherit;
    }
    #logo{
      width: 160px;
    }
    main{
        margin-top: 96px;
    }
}
@media tv and (min-width:801px),
(orientation: landscape) and (min-width:801px) {
    .mobile-media{
        display: none !important;
    }
    .tv-media{
        display: inherit;
    }
    #logo{
      width: 160px;
    }
    main{
        margin-top: 96px;
    }
}
@media handheld and (min-width:401px),
(orientation:portrait) and (min-width:401px) {
    .mobile-media{
        display: inherit;
    }
    .tv-media{
        display: none !important;
    }
    #logo,
    #menu{
        height: 72px;
        font-size: 72px;
    }
    main{
        margin-top: 128px;
    }
}
@media (max-width:400px){
    .mobile-media{
        display: inherit;
    }
    .tv-media{
        display: none !important;
    }
    main {
        margin-top: 104px;
    }
    #logo,
    #menu{
        height: 56px;
        font-size: 56px;
    }
}

// BASIC CLASSES
.pos-fixed{
    position: fixed;
}
.pos-abs{
    position: absolute;
}
.pos-rel{
    position: relative;
}
.width-mc{
    width: max-content;
}
.width-100pc{
    width: 100%;
}
.text-center{
    text-align: center;
}
.pg-0{
    padding: 0;
}
.mn-0{
    margin: 0;
}
.mn-lt--160px{
    margin-left: -160px;
}
.top-0{
    top: 0;
}
.z-1{
    z-index: 1;
}
.z-15{
    z-index: 15;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.grid.auto-col-mc{
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}
.grid.col-mc-auto{
    grid-template-columns: max-content auto;
}
.al-it-center{
    align-items: center;
}
.just-it-center{
    justify-items: center;
}
.just-ct-sb{
    justify-content: space-between;
}
.just-sf-center{
    justify-self: center;
}
.grid.gap-4px{
    grid-gap: 4px;
}
.grid.gap-24px{
    grid-gap: 24px;
}