form:not(#search):not(.without-label){
    grid-template-columns: 124px auto;
}
form:not(#search){
    display: grid;
    grid-gap: 24px;
    margin: 8px 32px;
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password]{
        height: 28px; //will appear as 32px
    }
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    select,
    textarea{
        border: 1px solid grey;
        border-radius: 3px;
        box-shadow: var(--medium-shadow);
    }
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea{
        max-width: 456px;
        width: 100%;
    }
    select{
        max-width: 464px;
        width: calc(100% + 8px);
    }
}

input:disabled,
select:disabled,
textarea:disabled{
    border-color: rgba(118, 118, 118, 0.3) !important;
}

textarea{
    resize: none;
    height: 62px;
}

select{
    height: 32px;
}

input[type=number]{
    & + .unit{
        margin: 7px 0 0 -16px;
    }
    &:disabled + .unit{
        color: grey;
    }
}

#form-choice-category,
form h2{
    grid-column: 1/3;
}

[type="radio"].checkbox-tools{
    appearance: none;
    width: 1px;
    height: 100%;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--black);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: white;
	box-shadow: var(--medium-shadow);
}
.checkbox-tools:checked + label{
	color: var(--white);
	background-color: transparent;
	box-shadow: var(--dark-shadow);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: var(--dark-shadow);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--dark-green), var(--light-green));
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
    margin: auto;
}