a.material-icons,
a.material-icons-outlined{
    text-decoration: none;
    color: black;
}

.header{
  padding: 4px 8px;
  background: #FFF;
}

input[name=search]{
  padding: 3px 8px;
}
  
button[type=submit]{
  cursor: pointer;
  padding: 4px 16px;
  background-image: linear-gradient(298deg, var(--dark-green), var(--light-green));
  box-shadow: var(--medium-shadow);
  color: #fff;
  border: 1px solid linear-gradient(298deg, var(--dark-green), var(--light-green));
  border-radius: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

li{
  cursor: default;
}

.categories{
  display: grid;
  grid-auto-columns: 128px;
  grid-auto-flow: column;
  background: #beefb3;
  list-style: none;
  justify-content: space-around;
}

.categories__li {
  text-transform: capitalize;
  height: 18px;
  padding: 8px 16px;
  width: 96px;
  background: #5cba47;
  text-align: center;
  &:hover .sub-categories,
  &:focus-within .sub-categories{
    display: block;
  }
}

.sub-categories__li {
  cursor: pointer;
  text-transform: none;
  line-height: 1.5;
  padding: 2px 8px;
}

.sub-categories{
  display: none;
  text-align: start;
  color: #000;
  background: #ffffff;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);
  ul{
    width: max-content;
    padding: 4px 0 8px 0;
  }
  li:hover{
    color: #5cba47;
    text-decoration: underline;
  }
}

.current-username{
    text-transform: capitalize;
}

.current-userpicture{
    cursor: pointer;
    width: 48px;
}

#hidden-menu{
    display: none;
    position: fixed;
    right: 8px;
    background: white;
    padding: 8px 16px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 20%);
    top: 48px;
    li{
        padding: 8px;
        border-bottom: 1px solid grey;
        &:last-of-type{
            border-bottom: none;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}

.current-usermenu:hover #hidden-menu,
.current-usermenu:focus-within #hidden-menu {
    display: block;
}

#add-annonce{
    position: fixed;
    cursor: pointer;
    bottom: 8px;
    left: calc(50% - 20px);
    text-align: center;
	  background-image: linear-gradient(298deg, var(--dark-green), var(--light-green));
    height: 38px;
    border-radius: 50%;
    box-shadow: var(--medium-shadow);
    text-decoration: none;
    color: #fff;
    transition: left ease-in 0.2s, width ease-in 0.2s;
	-webkit-transition: left ease-in 0.2s, width ease-in 0.2s;
    span{
        width: 38px;
        font-size: 36px;
        border-radius: 50%;
    }
}

#add-annonce:hover{
    border-radius: 20px;
    left: calc(50% - 90px);
    &::after{
        content: "Ajouter une annonce";
        padding-right: 16px;
    }
}